<% provide :page, 'games' %>

<div class="page-header">
  <%= link_to games_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New Game</h1>
</div>

<div class="row">
  <%= render 'form' %>
</div>
