<% provide :page, 'games' %>

<div class="page-header">
  <%= link_to edit_game_path(@game), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Game <%= @game.name %></h1>
</div>

<div class="row" id="score-table-partial">
<%= render 'games/score_table' %>
</div>
