<% provide :page, 'players' %>

<div class="page-header">
  <%= link_to players_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New Player</h1>
</div>

<%= render partial: 'form' %>
