.table-game {
  thead {
    th {
      text-align: center;
    }
  }
}

a.list-group-item.selected, .selected {
  background-color: limegreen;
  font-weight: bold;
  border-color: #5cb85c;
  color: white;
}

a.list-group-item.selected:hover, .selected:hover {
  background-color: #5cb85c;
  font-weight: bold;
  border-color: #5cb85c;
  color: white;
}

.score-total {
  font-weight: bold;
}

.space {
  margin-bottom: 15px;
}

.score-buttons {
  width: 255px;
  margin: 0 auto;
  display: block;
}


.carousel-indicators {
  bottom: 20px;

  li {
    background-color: black;
  }
}

.carousel-navigation {
  height: 60px;
}

.carousel-left{
  float: left;
  margin-top: 10px;
  font-size: 30px;
}

.carousel-right{
  float: right;
  margin-top: 10px;
  font-size: 30px;
}

