.table-game {
  thead {
    th {
      text-align: center;
    }
  }
}

a.list-group-item.selected, .selected {
  background-color: limegreen;
  font-weight: bold;
  border-color: #5cb85c;
  color: white;
}

a.list-group-item.selected:hover, .selected:hover {
  background-color: #5cb85c;
  font-weight: bold;
  border-color: #5cb85c;
  color: white;
}
